@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .text-shadow-md {
      text-shadow: 4px 4px 8px black;
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px black;
    }
    .text-shadow-none {
      text-shadow: none;
    }
  }
}

.footer-bg-color {
  background: #540E8A;
}

.section-heading {
  @apply uppercase text-base font-medium text-fuchsia tracking-widest;
}

.section-subheading {
  @apply uppercase text-xs tracking-widest text-gray-300;
}

.has-tooltip {
}

.tooltip {
  @apply invisible absolute -mt-6 -ml-1 p-1 bg-gray-800 rounded-sm;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.playing-audio {
  @apply bg-gradient-to-r from-red-500 via-my-purple to-pink-500 animate-gradient-x;
}

[x-cloak] {
  display: none !important;
}
