@font-face {
  font-family: FiraMono;
  src: url(<%=url_for("/fonts/FiraMono-Regular.ttf")%>);
}

@font-face {
  font-family: FiraSansCondensed;
  src: url(<%=url_for("/fonts/FiraSansCondensed-Regular.ttf")%>);
}

@font-face {
  font-family: FiraSansCondensed;
  font-style: italic;
  src: url(<%=url_for("/fonts/FiraSansCondensed-Italic.ttf")%>);
}

@font-face {
  font-family: FiraSansCondensed;
  font-weight: bold;
  src: url(<%=url_for("/fonts/FiraSansCondensed-Bold.ttf")%>);
}
